<div>
    <h2 id="page-heading">
        <span>Project Components</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project-component" [routerLink]="['/project-component/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Project Component
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projectComponents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Application</span></th>
            <th><span>Parent</span></th>
            <th><span>Git Repo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projectComponent of projectComponents ;trackBy: trackId">
                <td><a [routerLink]="['/project-component', projectComponent.id, 'view' ]">{{projectComponent.id}}</a></td>
                <td>{{projectComponent.type}}</td>
                <td>
                    <div *ngIf="projectComponent.application">
                        <a [routerLink]="['../application', projectComponent.application?.id, 'view' ]" >{{projectComponent.application?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projectComponent.parent">
                        <a [routerLink]="['../project-component', projectComponent.parent?.id, 'view' ]" >{{projectComponent.parent?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projectComponent.gitRepo">
                        <a [routerLink]="['../git-repo', projectComponent.gitRepo?.id, 'view' ]" >{{projectComponent.gitRepo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/project-component', projectComponent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/project-component', projectComponent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-component/'+ projectComponent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
