<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sonarComponent">
            <h2><span>Sonar Component</span> {{sonarComponent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Organization</span></dt>
                <dd>
                    <span>{{sonarComponent.organization}}</span>
                </dd>
                <dt><span>Component Id</span></dt>
                <dd>
                    <span>{{sonarComponent.componentId}}</span>
                </dd>
                <dt><span>Component Key</span></dt>
                <dd>
                    <span>{{sonarComponent.componentKey}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{sonarComponent.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{sonarComponent.description}}</span>
                </dd>
                <dt><span>Qualifier</span></dt>
                <dd>
                    <span>{{sonarComponent.qualifier}}</span>
                </dd>
                <dt><span>Path</span></dt>
                <dd>
                    <span>{{sonarComponent.path}}</span>
                </dd>
                <dt><span>Component</span></dt>
                <dd>
                    <div *ngIf="sonarComponent.component">
                        <a [routerLink]="['/project-component', sonarComponent.component?.id, 'view']">{{sonarComponent.component?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sonar-component', sonarComponent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
