<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gitRepo">
            <h2><span>Git Repo</span> {{gitRepo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Local Path</span></dt>
                <dd>
                    <span>{{gitRepo.localPath}}</span>
                </dd>
                <dt><span>Remote Url</span></dt>
                <dd>
                    <span>{{gitRepo.remoteUrl}}</span>
                </dd>
                <dt><span>Application</span></dt>
                <dd>
                    <div *ngIf="gitRepo.application">
                        <a [routerLink]="['/application', gitRepo.application?.id, 'view']">{{gitRepo.application?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/git-repo', gitRepo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
